aiohttp==3.9.1
aioquic==0.9.25
aiosignal==1.3.1
appdirs==1.4.4
Arpeggio==2.0.2
asgiref==3.7.2
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
certifi==2023.11.17
cffi==1.16.0
click==8.1.7
cryptography==41.0.7
dataclasses-json==0.6.3
defusedxml==0.7.1
Flask==2.3.3
frozenlist==1.4.1
gltflib==1.0.13
Glymur==0.9.6
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
kaitaistruct==0.10
lazy-object-proxy==1.10.0
ldap3==2.9.1
llsd==1.0.0
lxml==5.1.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mitmproxy==10.2.1
mitmproxy_rs==0.5.1
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.3
outleap==0.6.1
packaging==23.2
parso==0.8.3
passlib==1.7.4
prompt-toolkit==3.0.43
protobuf==4.25.1
ptpython==3.0.25
publicsuffix2==2.20191221
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycollada==0.8
pycparser==2.21
Pygments==2.17.2
pylsqpack==0.3.18
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyperclip==1.8.2
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
qasync==0.27.1
recordclass==0.18.2
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
service-identity==23.1.0
shiboken6==6.6.1
six==1.16.0
sortedcontainers==2.4.0
tornado==6.4
transformations==2024.6.1
typing-inspect==0.9.0
typing_extensions==4.9.0
urwid-mitmproxy==2.1.2.1
wcwidth==0.2.13
Werkzeug==2.3.8
wsproto==1.2.0
yarl==1.9.4
zstandard==0.22.0
